.board{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 450px;
  height: 450px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);

}

button{
  font-family: "Press Start 2P", system-ui;
font-size: 1.5rem;
  cursor: pointer;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.btn{
   width: 150px;
  height: 150px;
  border: 4px outset rgb(64, 64, 47);
  box-shadow:inset 8px 5px 10px black;
  background-color: rgb(211, 140, 140);
}

.nameBtn,
.roundBtn{
  display: flex; 
  justify-content: center;
border: 4px solid #000;
outline: 4px solid white;
box-shadow: 4px 4px 0 #000;
  margin: 10px;
  background-color: #645a5a;
  color: white;
  border-radius: 8px;
  padding: 0 10px;
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: 10px;
font-family: "Press Start 2P", system-ui;
width: 250px;
}

.win {
  background-color: rgb(164, 103, 80);
  color: rgb(44, 32, 32);
  font-weight: bold;
}
